<a href="/albums">Home</a> | 
<% if current_user %>
  <a href="/users/<%= current_user.id %>"><%= current_user.username %></a> |
  <a href="/logout">Log Out</a>
<% else %>
  <a href="/register">Register</a> |
  <a href="/login">Log In</a>
<% end %>
